    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">Patient Overview
            <button ng-click="pdfGenerator()" class="btn btn-default btn-lg pull-right" id="pdf-button"> Download </button></h1>

        </div>
        <div class="col-lg-2">
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    John Smith
                </div>
                <div class="panel-body">
                    <div class = "row">
                        <div class="col-lg-6">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c43.0.148.148/p148x148/10417584_10150004166814104_470499672042020938_n.png?oh=d3d3bea5567dfd8ea2ff62ed27de2768&oe=54E63C1E&__gda__=1425524590_b6dcd0b91983c94125edf57b4a87a9ea">
                            </img>
                        </div>
                        <div class="col-lg-6">
                            <h4>Stuff 1</h4>
                            <h4>Stuff 2</h4>
                            <h4>Stuff 3</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Reports
                </div>
                <div class="panel-body">
                    <div class = "row">
                        <div class="col-lg-12">
                            <h4>Stuff</h4>
                            <p>---</p>
                            <p>---</p>
                            <p>---</p>
                            <p>---</p>
                            <p>---</p>
                            <p>---</p>
                            <p>---</p>
                            <p>---</p>
                            <p>---</p>
                            <p>---</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Area Chart Example
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bar Chart Example
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-bar-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Line Chart Example
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-line-chart"></div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>


    <script src="lib/sb-admin-js/plugins/morris/raphael.min.js"></script>
    <script src="lib/sb-admin-js/plugins/morris/morris.min.js"></script>
    <script src="lib/sb-admin-js/plugins/morris/morris-data.js"></script>
    <script src="lib/sb-admin-js/plugins/flot/excanvas.min.js"></script>
    <script src="lib/sb-admin-js/plugins/flot/jquery.flot.js"></script>
    <script src="lib/sb-admin-js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="lib/sb-admin-js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="lib/sb-admin-js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="lib/sb-admin-js/plugins/flot/flot-data.js"></script>

