

<div ng-controller="dashboardMyPatientController">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="page-header">Patient Overview
            <button ng-click="pdfGenerator()" class="btn btn-default btn-lg pull-right" id="pdf-button"> Download </button></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{selectedRow.patientName}}
                </div>
                <div class="panel-body">
                    <div class = "row">
                        <div class="col-lg-5">
                            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c43.0.148.148/p148x148/10417584_10150004166814104_470499672042020938_n.png?oh=d3d3bea5567dfd8ea2ff62ed27de2768&oe=54E63C1E&__gda__=1425524590_b6dcd0b91983c94125edf57b4a87a9ea">
                            </img>
                        </div>
                        <div class="col-lg-6">
                            <h4>Age: {{selectedRow.age}}</h4>
                            <h4>Weight: {{selectedRow.weight}} lbs</h4>
                            <br>
                            <h5>Parent: {{selectedRow.parentName}}</h5>
                            <h5>{{selectedRow.email}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Line Chart Example
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <nvd3-line-chart
                    data="exampleData"
                    id="lineChart"
                    xAxisTickFormat="xAxisTickFormatFunction()"
                    yAxisTickFormat="yAxisTickFormatFunction()"
                    width="550"
                    height="350"
                    showXAxis="true"
                    showYAxis="true">
                        <svg id="render-me"></svg>
                </nvd3-line-chart>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="row">
        <div class="panel-body">
            <canvas id="canvas" width="1000px" height="600px" style="visibility:hidden;"></canvas> 
        </div>
    </div>
</div>
