<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand">Osprey</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            {{loggedUser.email}}
            <button ng-click="logoutAttempt()" class="btn btn-default btn-md" id="logout-button"> Logout </button>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a class="tab1" ng-class="{active:isActive(2)}" ng-click="switchTab(2)"><i class="fa fa-table fa-fw"></i> My Patients</a>
                    </li>
                    <li>
                        <a class="tab2" ng-class="{active:isActive(3)}" ng-click="switchTab(3)"><i class="fa fa-edit fa-fw"></i> Reports</a>
                    </li>
                    <li>
                        <a class="tab3" ng-class="{active:isActive(4)}" ng-click="switchTab(4)"><i class="fa fa-edit fa-fw"></i> Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper" ng-include src="contentUrl">

    </div>
</div>