<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header clearfix" style="padding: 2px 5px;">
            <img class="img-responsive" src="img/Osprey-logo-dashboard-blue.png" style="margin-left: 10px"></img>

        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right" style="padding: 8px 5px 0px 0px; color:#00344f;">
            {{loggedUser.username}}
            <button ng-click="logoutAttempt()" class="btn btn-default btn-md" id="logout-button"style="color:#00344f;"> Log out </button>
<!--             <button ng-click="test()" class="btn btn-default btn-md">Test</button> -->
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->



        <div class="navbar-default sidebar" role="navigation" style="background-color:#00344f;">
            <div class="row" style="width:250px;">
                <div class="col-md-5 column clearfix" style="padding: 0px 0px 0px 20px;">
                    <p><center><img src="img/user-blue.png" class="img-circle" width="60"></img></center></p>
                </div>
                <div class="col-md-7 column clearfix" style="padding: 20px 0px 0px 0px; vertical-align:middle;">
                    <strong><h5 style="vertical-align:middle; margin:5px 0px 2px 0px; font-size: 13px;color:#ffffff;">Welcome back,</h5></strong>
                    <strong><h4 style="vertical-align:middle; margin:0px 0px; font-size: 16px; font-weight: bold; color:#ffffff;">
                    {{loggedUser.firstName + " " + loggedUser.lastName}}</h4></strong>
                </div>
             </div>
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li ng-repeat="item in navItems">
                        <a class="tab1" ng-class="{active:isActive(item.num)}" ng-click="switchTab(item.num)"><i class="fa fa-table fa-fw" style="color:#ffffff;"></i><font color="#ffffff">{{item.name}}</font></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper" ng-include src="contentUrl">

    </div>
</div>

