<div class="container">	
	<div id="wrapper" class="panel panel-default">
		<div class="panel-body"> 
			<h1 class="text-center">Password Recovery</h1>
			<form role="form" class="col-md-3">
				<div class="form-group">
					<div class="row">
					  <br><br>
					  <div>
					  <div class="text-center">
					  	 	<input type="email" class="form-control" placeholder="Email">
					  		<br>
					  		<button type="submit" class="btn btn-default btn-md" ng-click="forgotPassword()">Send Email</button>
					  </div>
					  </div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
