	<div id="wrapper" class="panel panel-default">
		<div class="panel-body"> 
			<h1 class="text-center">Password Recovery</h1>
			<form role="form">
				<div class="form-group">
					<div class="container">
					<div class="row">
					<br><br>
					<div class="col-md-4"></div>
					<div class="col-md-4">
					  	 	<input type="email" class="form-control" placeholder="Email" ng-model="guessWhoForgotTheirPassword.email" ng-pattern="/\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b/i"></input>
					  		<br>	
					  		<div class="col-md-4"></div>	
				  			<button type="submit" class="btn btn-default btn-md" ng-click="forgotPassword()">Send Email</button>
				  			<br><br>
				  			<alert ng-repeat="alert in regAlerts" type="{{alert.type}}" close="closeAlert($index, false)">
		                    	<strong>{{alert.msg}}</strong>
		                    </alert> 
					</div>
					<div class="col-md-4"></div>
					</div>
					</div>
				</div>
			</form>
		</div>
	</div>

